@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: 'Michroma', monospace;
    background: linear-gradient(100deg, #000000 0%, #1609A2 100%);
}

p {
    color: aquamarine;
}
.nav-link {
    color: rgb(62, 222, 169);
}

 .navbar-nav .nav-link.active {
    color: rgb(0, 255, 255);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(7, 255, 255);
}

.left-sidebar {
    color: aquamarine;
    margin: 10;
    background: linear-gradient(270deg, #14014d 0%, #180820 100%);
    font-family: 'Michroma', monospace;
}

.container-fluid{
    font-family: 'Michroma', monospace;
}

.card {
    background: linear-gradient(270deg, #000000 0%, #1609A2 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

.btn-outline-secondary {
    background: linear-gradient(100deg, #000000 0%, #1609A2 100%);

/* text-center в html нужен для центровки текста,
 пишется прям в теге */

 footer {
    background: linear-gradient(100deg, #000000 0%, #1609A2 100%);
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}
/* если несколько анимированных элементов, то myAnim надо менять, н-р, call и anipic */
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}


.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 755px) {
     .carousel-indicators {
    display: none;
    }
}